body{
    background-color: #D6E6FA;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 1.5%;
    font-family: 'Courier New', Courier, monospace;
}

#Container {  /* Grid Container */
    display: grid;

    margin-left: auto;
    margin-right: auto;

    /*border: 8px solid;*/
    width: 500px;
    height: 500px;
    box-sizing: border-box;
}


#box {
    background-color: white;
    height: 100%;
    width: 100%; 
}
#box:hover{
    background-color: lightgray;
}


.btn{   /* Sizes and Text settings for color,random, and reset button*/
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    background-color: #D6DAFA;
}
.btn:hover{
    background-color: rgb(230, 230, 250);
}



.slider { /*Slider div, div that stores slider, output, p elements */
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin-left: 15px;
    margin-top: -15px;
}


p{ /*Says "Grid Size" */
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
}
.slideOutput {  /*Number output for the slider input value*/
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    min-width: 25px;
}

#slider {
    display: inline-block;
    min-width: 255px;
    margin-left: 10px;
}

.inputs {  /*Contains all input elements*/
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#color {
    width: 100px;
    height: match-parent;
    border: none;
    padding: none;
    margin-left: 7%;
}


